plotly==4.14.3
scipy==1.5.0
streamlit==0.76.0
shap==0.39.0
MultiApp==1.0
altair==4.1.0
matplotlib==3.2.2
htbuilder==0.3.0
numpy==1.19.5
chart_studio==1.1.0
pandas==1.0.5
apps==0.0.0.0.dev20200918
Pillow==8.3.1
scikit_learn==0.24.2
